/* -webkit-print-color-adjust: exact; */



  .navbar-custom {
    background-color: #F55776;
    
  }

  .navbar-custom .navbar-brand {
    text-align: center;
  }

  .navbar-custom .navbar-text {
    margin-right: auto;
  }

.list-title{
    font-size: 22px;
}

.list-wrapper{
    border-bottom: 1px solid #ccc; 
    padding-bottom: 20px;
     margin-top: 20px;
     cursor: pointer;
}

input{
    background-color: #F4F4F5;
    border: none;
    height: 50px;

}



/* CSS */
.button {
  background-color: #F55776;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}




.experience{
    margin-top: 10px;
    border: 1px solid #e2c5c5; 
    border-radius: 10px;
}

.cv_secondary_title{
    font-size: 17px;
    font-weight: bold;
}


.custom-row-height {
    min-height: 690px;
    background-color: white;
    border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
  }

.right_section{
    -webkit-print-color-adjust: exact;
    height: 130px; 
    width: 100%;
    border-top-left-radius: 10px
    ;border-top-right-radius: 10px;

}

#print-section{
  min-height: 754px; width: 30vw;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #F4F7F8;
    margin: 0;
    padding: 0;
}

.disable-scroll {
    overflow: hidden;
  }



  .icon-text-container {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 5px; /* Adjust this value as needed */
  }


  .square-div {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .image{
   object-fit: cover;
   width: 100%;
   height: 100%;
  }
  
  .icon1 {
    font-size: 24px;
    color: #888;
  }
  
  #file-input {
    display: none;
  }
 


