<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 left-column  px-0" style="height: 100vh; overflow-y:scroll;">
      <!-- content for left column goes here -->
      <div class="d-flex justify-content-center offset-1  col-10">
        <div class="w-100">
          <div class="list-wrapper">
            <i (click)="hide_info_pers()"
              [class]="  show_pers_info ? 'pi pi-arrow-circle-up': 'pi pi-arrow-circle-down'"
              style="font-size: 30px;float: right; margin-left: 10px;color: #757575; "></i>
            <!-- replace this with the icon you want to use -->
            <span style="font-weight: bold; margin-left: 10px;" class="list-title">Informations personnelles</span>
            <!-- replace this with your text -->
            <div class="pers_info" *ngIf="show_pers_info">
              <div class="d-flex">
                <div class="input-group mb-3 mt-3 mx-2 w-50">
                  <input type="text" class="form-control" [(ngModel)]="pers_info.name" placeholder="prenom">
                </div>
                <div class="input-group mb-3 mt-3 mx-2 w-50">
                  <input type="text" class="form-control" [(ngModel)]="pers_info.last_name"  placeholder="Nom de famille">
                </div>
              </div>
              <div class="d-flex">
                <div class="input-group mb-3 mt-3 mx-2 w-100">
                  <input type="text" class="form-control" [(ngModel)]="pers_info.mail"  placeholder="Adresse e-mail">
                </div>
              </div>

              <div class="d-flex">
                <div class="input-group mb-3 mt-3 mx-2 w-100">
                  <input type="text" class="form-control" [(ngModel)]="pers_info.profile_title"  placeholder="Titre du profil">
                </div>
              </div>


              <div class="d-flex">
                <div class="input-group mb-3 mt-3 mx-2 w-100">
                  <input type="text" class="form-control" [(ngModel)]="pers_info.address"  placeholder="Adresse">
                </div>
              </div>

              <div class="d-flex">
                <div class="input-group mb-3 mt-3 mx-2 w-50">
                  <input type="text" class="form-control" [(ngModel)]="pers_info.phone_number"  placeholder="Numéro de téléphone">
                </div>
                <div class="input-group mb-3 mt-3 mx-2 w-50">
                  <input type="text" class="form-control" [(ngModel)]="pers_info.city"  placeholder="Ville">
                </div>

              </div>
              <div class="d-flex">
                <div *ngIf="birth_place" class="input-group mb-3 mt-3 mx-2 w-50">
                  <input type="text" class="form-control" [(ngModel)]="pers_info.birth_place"  placeholder="Lieu de naissance">
                  <i (click)="birth_place=!birth_place" class="pi pi-times"
                    style="font-size: 20px; margin-left: 10px;color: #757575;margin-top: 15px;"></i>
                </div>
                <div *ngIf="birth_date" class="input-group mb-3 mt-3 mx-2 w-50">
                  <input type="text" class="form-control" [(ngModel)]="pers_info.birth_date"  placeholder="Lieu de naissance">
                  <i (click)="birth_date=!birth_date" class="pi pi-times"
                    style="font-size: 20px; margin-left: 10px;color: #757575;margin-top: 15px;"></i>
                </div>

              </div>

              <div class="d-flex">
                <div *ngIf="!birth_place" (click)="birth_place=!birth_place" class="input-group mb-3 mt-3 mx-2 w-20">
                  <p-chip label="Lieu de naissance" icon="pi pi-plus"></p-chip>
                </div>
                <div *ngIf="!birth_date" (click)="birth_date=!birth_date" class="input-group mb-3 mt-3 mx-2 w-20">
                  <p-chip label="Date de naissance" icon="pi pi-plus"></p-chip>
                </div>

                <div class="input-group mb-3 mt-3 mx-2 w-20">
                  <p-chip label="Linkedin" icon="pi pi-plus"></p-chip>
                </div>

                <div class="input-group mb-3 mt-3 mx-2 w-20">
                  <p-chip label="sexe" icon="pi pi-plus"></p-chip>
                </div>
              </div>


            </div>
          </div>

        </div>
      </div>


      <div class="d-flex justify-content-center offset-1  col-10">
        <div class="w-100">
          <div class="list-wrapper">
            <i (click)="hide_experience()"
              [class]="  show_experience ? 'pi pi-arrow-circle-up': 'pi pi-arrow-circle-down'"
              style="font-size: 30px;float: right; margin-left: 10px;color: #757575;"></i>
            <!-- replace this with the icon you want to use -->
            <span style="font-weight: bold; margin-left: 10px;" class="list-title">Formation</span>
            <!-- replace this with your text -->
            <div class="experience" *ngIf="show_experience">
              <div *ngFor="let formation of formations">
                <div class="d-flex">
                  <div class="input-group mb-3 mt-3 mx-2 w-100">
                    <input type="text" class="form-control" [(ngModel)]="formation.name" placeholder="Formation">
                  </div>
                </div>
                <div class="d-flex">
                  <div class="input-group mb-3 mt-3 mx-2 w-50">
                    <input type="text" class="form-control" [(ngModel)]="formation.school" placeholder="Établissement">
                  </div>
                  <div class="input-group mb-3 mt-3 mx-2 w-50">
                    <input type="text" class="form-control" [(ngModel)]="formation.city" placeholder="Ville">
                  </div>
                </div>

                <div class="d-flex">
                  <div class="input-group mb-3 mt-3 mx-2 w-50">
                    <input type="text" class="form-control" [(ngModel)]="formation.start_date" placeholder="date de debut">
                  </div>
                  <div class="input-group mb-3 mt-3 mx-2 w-50">
                    <input type="text" class="form-control" [(ngModel)]="formation.end_date" placeholder="date de fin">
                  </div>
                </div>


                <div class="d-flex">
                  <div class="input-group mb-3 mt-3 mx-2 w-100">
                    <textarea placeholder="descritpion" [(ngModel)]="formation.desc" class="w-100" rows="6" cols="30" pInputTextarea
                      [autoResize]="true"></textarea>
                  </div>
                </div>
                <div (click)="confirmFormation()" class="d-flex">
                  <div class="input-group mb-3 mt-3 mx-2 w-40">
                    <p-button label="Submit" icon="pi pi-check"></p-button>
                  </div>
                </div>

              </div>
              <div (click)="addFormation()" class="input-group mb-3 mt-3 mx-2 w-20">
                <p-chip label="ajouter formation" icon="pi pi-plus"></p-chip>
              </div>
            </div>
           
          </div>

        </div>
      </div>


    </div>

    <div style="background-color: #F4F7F8;" class="col-md-6  px-0 right-column d-flex align-items-center justify-content-center">
      <div id="print-section" style="height: 90vh; width: 35vw;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
        <div class="right_section" [style.background-color]="color">
          <div class="cv_secondary_title" style="padding: 10px;"> Informations personnelless </div>
          <div class="d-flex">
            <div class="input-group mb-3 mt-3 mx-2 w-20">
             {{pers_info.name}}
            </div>
            <div class="input-group mb-3 mt-3 mx-2 w-20">
              {{pers_info.last_name}}
            </div>
            <div *ngIf="pers_info.mail" class="input-group mb-3 mt-3 mx-2 w-20">
              <i  class="pi pi-envelope"   style="font-size: 20px;color: #757575;"></i>                           
              {{pers_info.mail}}
            </div>
            <div class="input-group mb-3 mt-3 mx-2 w-20">
              {{pers_info.city}}
            </div>
            <div class="input-group mb-3 mt-3 mx-2 w-20">
              {{pers_info.address}}
            </div>
            <div class="input-group mb-3 mt-3 mx-2 w-20">
              {{pers_info.phone_number}}
            </div>
          </div>

        </div>
        <div  class="row custom-row-height mx-0" >
          <div class="col-8">
            <!-- content for the left column goes here (80% width) -->
            <div class="cv_secondary_title"> Formations </div>
            
            <div *ngFor="let formation of formations">

              <div class="cv_secondary_title"> {{formation.name}}</div>
              <div > {{formation.school}}</div>
              <div > {{formation.city}}</div>
              <div > {{formation.start_date}}</div>
              <div > {{formation.end_date}}</div>
              <div > {{formation.desc}}</div>
             
            </div>

          </div>
          <div class="col-4">
            <!-- content for the right column goes here (20% width) -->
          </div>
        </div>
      </div>

      <div style="position: absolute;bottom: 20px; right: 30%;" class="card flex justify-content-center">
        <p-colorPicker [(ngModel)]="color"></p-colorPicker>
    </div>


    </div>
  </div>
</div>
<button  [useExistingCss]="true"  printSectionId="print-section" ngxPrint>print</button>  